
.Header{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    z-index: 10;
    top: 0;

    position: fixed;
    width: 100%;
    .leftSide{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px;
        gap: 16px;
        .frame1{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 4px;
            gap: 16px;
            width: 44px;
            height: 44px;
            color: #CCC;
            .menu{
                cursor: pointer;
                width: 36px;
                height: 36px;
                user-select: none;
                
            }
        }
        .youTube{
            text-decoration: none;
            user-select: none;
            width: max-content;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 24px;
            color:black;
            
        }
        
    }
    .centerSide{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 0;
        flex-grow: 1;
        height: 100%;
        .searchBarSelectedBackground {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: transparent;
        }
        .searchBar{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            isolation: isolate;
            width: 700px;
            height: 100%;
            position: relative;
            max-width: 100%;
          
            border: 1px solid #CCCCCC;
            border-radius: 24px;
            --submit-button-width: 74px;
            
            .searchBarRecommendedList{
                width: calc(100% - var(--submit-button-width));
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 52px;
                left: 0;
                padding: 16px 0px;
                opacity: 0;
                background: #FFFFFF;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                border-radius: 16px;
                transition: opacity ease .15s;
            }
            .inputArea:focus + .searchBarRecommendedList {
                opacity: 1;
            }
            .inputArea{
                border: none;
                &:focus { outline: none; }
                

                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px 20px;
                gap: 10px;

                width: 100%;
                height: 100%;
                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;

                color: #555555;

            }
            .submitButton{
                cursor: pointer;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 24px;
                gap: 10px;
                background-color: #F8F8F8;

                border: none;
                border-left: 1px solid #CCCCCC;
                border-radius: 0px 24px 24px 0px;
                &:hover{     
                    background: #F0F0F0;
                }
            }
            
        }
    }
    .rightSide{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 16px;
        gap: 10px;
        
        .loginButton{
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 16px;
            gap: 10px;


            border: 1px solid #CCCCCC;
            border-radius: 24px;
            &:hover{
                background: #F0F0F0;
            }
            .accountCircle{
                width: 24px;
                height: 24px;
                color: #0088FF;
            }
            .login{
                
                height: 100%;
                width: max-content;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                
                color: #0088FF;
            }
        }
    }
}