.RecommendListItem{
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    gap: 10px;
    margin: 0;
    .Recommenditem{
        list-style:none;
        list-style-type:none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        /* identical to box height, or 100% */


        color: #000000;
    }
}