.SearchBar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  width: 700px;
  height: 100%;
  position: relative;
  max-width: 100%;
  border: 1px solid #cccccc;
  border-radius: 24px;
  --submit-button-width: 74px;

  .searchBarRecommendedList {
    width: calc(100% - var(--submit-button-width));
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 52px;
    left: 0;
    padding: 16px 0px;
    opacity: 0;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    transition: opacity ease 0.15s;
    pointer-events: none;
  }

  .inputArea:focus + .searchBarRecommendedList {
    opacity: 1;
    pointer-events: auto;
  }
  .inputArea {
    border: none;
    &:focus {
      outline: none;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;

    width: 100%;
    height: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #555555;
  }
  .submitButton {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    background-color: #f8f8f8;

    border: none;
    border-left: 1px solid #cccccc;
    border-radius: 0px 24px 24px 0px;
    &:hover {
      background: #f0f0f0;
    }
  }
}
