body, #root {
  height: 100%;
}
body {
  height: 100%;
}
.StudioPage {
  height: 100%;
  .tableWrapper {
    box-sizing: border-box;
    height: 100%;
    padding-left: 288px;
    padding-top: 88px;
  }
}
